In [ ]:
import numpy as np
import pandas as pd
train = pd.read_table("train.tsv")
test = pd.read_table("test.tsv")

In [ ]:
train

      id  survived  pclass     sex   age  sibsp  parch     fare embarked
0      3         1       1  female  35.0      1      0  53.1000        S
1      4         0       3    male  35.0      0      0   8.0500        S
2      7         0       3    male   2.0      3      1  21.0750        S
3      9         1       2  female  14.0      1      0  30.0708        C
4     11         1       1  female  58.0      0      0  26.5500        S
..   ...       ...     ...     ...   ...    ...    ...      ...      ...
440  873         0       3    male  47.0      0      0   9.0000        S
441  874         1       2  female  28.0      1      0  24.0000        C
442  879         1       1  female  56.0      0      1  83.1583        C
443  884         0       3    male  25.0      0      0   7.0500        S
444  888         0       3  female   NaN      1      2  23.4500        S

[445 rows x 9 columns]

In [ ]:
#trainデータとtestデータの区別が着くようのis_trainラベルを追加
train["is_train"] = 1
test["is_train"] = 0
data = pd.concat([train.drop(columns=["survived"]), test])

In [ ]:
data

      id  pclass     sex   age  sibsp  parch     fare embarked  is_train
0      3       1  female  35.0      1      0  53.1000        S         1
1      4       3    male  35.0      0      0   8.0500        S         1
2      7       3    male   2.0      3      1  21.0750        S         1
3      9       2  female  14.0      1      0  30.0708        C         1
4     11       1  female  58.0      0      0  26.5500        S         1
..   ...     ...     ...   ...    ...    ...      ...      ...       ...
441  885       3  female  39.0      0      5  29.1250        Q         0
442  886       2    male  27.0      0      0  13.0000        S         0
443  887       1  female  19.0      0      0  30.0000        S         0
444  889       1    male  26.0      0      0  30.0000        C         0
445  890       3    male  32.0      0      0   7.7500        Q         0

[891 rows x 9 columns]

In [ ]:
data.isnull().sum()

id            0
pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
is_train      0
dtype: int64

In [ ]:
print(data["age"].unique())
print(data["age"].median())

[35.    2.   14.   58.   39.     nan 28.    8.   38.   66.   27.    3.
 19.   29.   21.   28.5   5.   11.    4.   26.   32.   22.   17.   16.
 23.   20.   59.   34.   47.   14.5  32.5  12.   45.   33.   25.   37.
 24.    9.   36.5  42.   55.5  40.5  44.    1.   56.   50.   36.   45.5
 40.   30.   20.5  18.   41.   63.   65.   23.5   0.92 43.   61.   31.
 10.   64.   13.   52.   48.    0.75 62.   53.   54.   49.   80.   60.
 15.   70.    6.    0.67 51.   30.5  57.   46.    0.83 55.    7.   71.
 70.5  24.5   0.42 34.5  74.  ]
28.0

In [ ]:
data["age"] = data["age"].fillna(data["age"].median())

In [ ]:
data["embarked"].value_counts()

S    644
C    168
Q     77
Name: embarked, dtype: int64

In [ ]:
data["embarked"] = data["embarked"].fillna("S")

In [ ]:
data

      id  pclass     sex   age  sibsp  parch     fare embarked  is_train
0      3       1  female  35.0      1      0  53.1000        S         1
1      4       3    male  35.0      0      0   8.0500        S         1
2      7       3    male   2.0      3      1  21.0750        S         1
3      9       2  female  14.0      1      0  30.0708        C         1
4     11       1  female  58.0      0      0  26.5500        S         1
..   ...     ...     ...   ...    ...    ...      ...      ...       ...
441  885       3  female  39.0      0      5  29.1250        Q         0
442  886       2    male  27.0      0      0  13.0000        S         0
443  887       1  female  19.0      0      0  30.0000        S         0
444  889       1    male  26.0      0      0  30.0000        C         0
445  890       3    male  32.0      0      0   7.7500        Q         0

[891 rows x 9 columns]

In [ ]:
data.isnull().sum()

id          0
pclass      0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
is_train    0
dtype: int64

In [ ]:
data = pd.concat([data, pd.get_dummies(data["embarked"], prefix="embarked")], axis=1).drop(columns=["embarked"])

In [ ]:
data["sex"] = pd.get_dummies(data["sex"], drop_first=True)

In [ ]:
data

      id  pclass  sex   age  ...  is_train  embarked_C  embarked_Q  embarked_S
0      3       1    0  35.0  ...         1           0           0           1
1      4       3    1  35.0  ...         1           0           0           1
2      7       3    1   2.0  ...         1           0           0           1
3      9       2    0  14.0  ...         1           1           0           0
4     11       1    0  58.0  ...         1           0           0           1
..   ...     ...  ...   ...  ...       ...         ...         ...         ...
441  885       3    0  39.0  ...         0           0           1           0
442  886       2    1  27.0  ...         0           0           0           1
443  887       1    0  19.0  ...         0           0           0           1
444  889       1    1  26.0  ...         0           1           0           0
445  890       3    1  32.0  ...         0           0           1           0

[891 rows x 11 columns]

In [ ]:
feature_columns =["pclass", "sex", "age", "embarked_C", "embarked_Q", "embarked_S"]
feature_train = data[data["is_train"] == 1].drop(columns=["is_train"])[feature_columns]
feature_test = data[data["is_train"] == 0].drop(columns=["is_train"])[feature_columns]

In [ ]:
feature_train

     pclass  sex   age  embarked_C  embarked_Q  embarked_S
0         1    0  35.0           0           0           1
1         3    1  35.0           0           0           1
2         3    1   2.0           0           0           1
3         2    0  14.0           1           0           0
4         1    0  58.0           0           0           1
..      ...  ...   ...         ...         ...         ...
440       3    1  47.0           0           0           1
441       2    0  28.0           1           0           0
442       1    0  56.0           1           0           0
443       3    1  25.0           0           0           1
444       3    0  28.0           0           0           1

[445 rows x 6 columns]

In [ ]:
target_train = train["survived"]

In [ ]:
from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(feature_train, target_train)

DecisionTreeClassifier()

In [ ]:
from sklearn import metrics
pred_train = model.predict(feature_train)

In [ ]:
pred_train

array([1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0])

In [ ]:
metrics.accuracy_score(target_train, pred_train)

0.9280898876404494

In [66]:
pred_test = model.predict(feature_test)

my_prediction = pd.DataFrame(test["id"])
my_prediction["survived"]  = pred_test
my_prediction.to_csv("my_prediction.tsv", sep='\t', header=False, index=False)

In [65]:
my_prediction

      id  survived
0      0         0
1      1         1
2      2         0
3      5         0
4      6         1
..   ...       ...
441  885         0
442  886         0
443  887         1
444  889         1
445  890         1

[446 rows x 2 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [57]:
test["id"]

0        0
1        1
2        2
3        5
4        6
      ...
441    885
442    886
443    887
444    889
445    890
Name: id, Length: 446, dtype: int64