In [107]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [108]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set(font="IPAexGothic",style="white")
from sklearn.ensemble import RandomForestRegressor
# from sklearn.metrics import mean_squared_error
# from sklearn.metrics import mean_absolute_error
# from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error as MSE
from sklearn.linear_model import LinearRegression as LR
from sklearn.ensemble import RandomForestRegressor as RF
import lightgbm as lgb
# from sklearn.linear_model import LinearRegression
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [109]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
sample = pd.read_csv("sample_submit.csv",header=None)
train= train.drop(['id','Over18','Gender','StandardHours'], axis=1)
test= test.drop(['id','Over18','Gender','StandardHours'], axis=1)
print("Data Shapes")
print("Train:",train.shape, "Test:",test.shape, "Sample:",sample.shape)

Data Shapes
Train: (1200, 30) Test: (800, 29) Sample: (800, 2)

In [110]:
dummy_train = pd.get_dummies(train,drop_first=True)
dm_train_y = dummy_train.Attrition
dm_train_x = dummy_train.drop("Attrition",axis=1)
# 学習データとテストデータに分ける
X_train, X_test, y_train, y_test = train_test_split(dm_train_x,dm_train_y,
                                                    test_size=0.2,
                                                    random_state=0,
                                                    stratify=dm_train_y)

In [111]:
train.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,26,Travel_Rarely,450.941476,Research & Development,7.601074,3,Medical,1291,4,43,...,3,0,1,3,2,11,8,7,0,0
1,47,Travel_Rarely,730.235896,Research & Development,26.739489,3,Technical Degree,1587,2,98,...,3,1,20,1,1,5,9,4,4,0
2,26,Travel_Rarely,1082.560066,Human Resources,7.374739,3,Life Sciences,1591,2,84,...,2,1,4,3,3,3,2,0,2,0
3,46,Travel_Rarely,706.247579,Research & Development,14.791373,1,Medical,1572,1,79,...,4,1,6,0,1,5,4,7,7,1
4,25,Travel_Rarely,500.610860,Research & Development,2.146966,4,Medical,981,2,98,...,2,1,8,3,3,1,0,0,0,0

In [112]:
dummy_train.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Married,MaritalStatus_Single,OverTime_Yes
0,26,450.941476,7.601074,3,1291,4,43,2,1,2,...,1,0,0,0,0,0,0,0,1,0
1,47,730.235896,26.739489,3,1587,2,98,2,1,1,...,0,0,0,0,1,0,0,0,0,1
2,26,1082.560066,7.374739,3,1591,2,84,2,1,2,...,0,0,0,0,0,0,0,1,0,0
3,46,706.247579,14.791373,1,1572,1,79,2,1,3,...,1,0,0,0,0,0,0,0,0,1
4,25,500.610860,2.146966,4,981,2,98,3,2,3,...,0,0,1,0,0,0,0,0,0,1

In [113]:
# モデルの学習
model = lgb.LGBMClassifier() # モデルのインスタンスの作成
model.fit(X_train, y_train) # モデルの学習

# テストデータの予測クラス (予測クラス(0 or 1)を返す)
y_pred = model.predict(X_test)
# テストデータのクラス予測確率 (各クラスの予測確率 [クラス0の予測確率,クラス1の予測確率] を返す)
y_pred_prob = model.predict_proba(X_test)
print(f"acc: {model.score(X_test, y_test)}")
# 真値と予測確率の表示
df_pred_prob = pd.DataFrame({'target':y_test, 'target0_prob':y_pred_prob[:,0], 'target1_prob':y_pred_prob[:,1]})
display(df_pred_prob)

acc: 0.8208333333333333

     target  target0_prob  target1_prob
912       0      0.984830      0.015170
435       1      0.111345      0.888655
919       0      0.995161      0.004839
52        1      0.824028      0.175972
103       0      0.769417      0.230583
..      ...           ...           ...
478       1      0.944125      0.055875
753       0      0.937336      0.062664
473       0      0.898938      0.101062
393       0      0.997888      0.002112
289       1      0.951984      0.048016

[240 rows x 3 columns]

In [114]:
model.get_params()

{'boosting_type': 'gbdt',
 'class_weight': None,
 'colsample_bytree': 1.0,
 'importance_type': 'split',
 'learning_rate': 0.1,
 'max_depth': -1,
 'min_child_samples': 20,
 'min_child_weight': 0.001,
 'min_split_gain': 0.0,
 'n_estimators': 100,
 'n_jobs': -1,
 'num_leaves': 31,
 'objective': None,
 'random_state': None,
 'reg_alpha': 0.0,
 'reg_lambda': 0.0,
 'silent': True,
 'subsample': 1.0,
 'subsample_for_bin': 200000,
 'subsample_freq': 0}

In [115]:
#実際のデータで予測
dummy_test = pd.get_dummies(test,drop_first=True)
pred = model.predict(dummy_test)

In [116]:
sample[1] = pred
# dfをcsv出力　indexをTrueにしたら0からインデックスが降られる、headerはカラム名が一番上に追加される
# sample.to_csv("submit06_LightGBM.csv", index = False, header=False)

In [147]:
#グリッドサーチ
import lightgbm as lgb
from sklearn.model_selection import GridSearchCV

lightgbm = lgb.LGBMClassifier(objective='binary', random_state=0)

# params = {'task':[ 'train'],              # タスクを訓練に設定
#           'boosting_type': ['gbdt'],      # GBDTを指定
#           'objective': ['multiclass'],    # 多クラス分類を指定
#           'metric': ['multi_logloss'],  # 多クラス分類の損失（誤差）
#           'num_class': [2],               # クラスの数
#           'learning_rate': [0.2,0.4],         # 学習率
#           'max_dapth': [1,5],        # 木の深さ
#           'num_leaves': [5,10],             # ノードの数
#           'min_data_in_leaf': [15,20],        # 決定木ノードの最小データ数
#           'num_iteration': [100]# 予測器(決定木)の数:インタレーション（反復数）（デフォルトは100）
#          }


params = {
    'num_leaves': [6,10,30,50],  #num_leaves:木にある分岐の個数。大きくすると精度は上がるが過学習しやすくなる
    'reg_alpha': [0, 0.01, 0.1, 1,5,10,100],　#L1正則化
    'reg_lambda': [0, 0.01, 0.1, 1,5,10,100]　　#L2正則化
}

gbm = GridSearchCV(estimator=lightgbm, 
                   param_grid=params,
                   scoring='accuracy',
                   cv=2, 
                   n_jobs=-1,
                   verbose=0,
                  )

gbm.fit(X_train, y_train)

# 最も良いパラメータとスコア
print(gbm.best_params_) 
print(gbm.best_score_)

{'num_leaves': 6, 'reg_alpha': 0, 'reg_lambda': 1}
0.8604166666666666

In [148]:
gbm

GridSearchCV(cv=2, estimator=LGBMClassifier(objective='binary', random_state=0),
             n_jobs=-1,
             param_grid={'num_leaves': [6, 10, 30, 50],
                         'reg_alpha': [0, 0.01, 0.1, 1, 5, 10, 100],
                         'reg_lambda': [0, 0.01, 0.1, 1, 5, 10, 100]},
             scoring='accuracy')

In [149]:
gbm.best_estimator_

LGBMClassifier(num_leaves=6, objective='binary', random_state=0, reg_alpha=0,
               reg_lambda=1)

In [150]:
#fitメソッドの戻り値のbest_estimator_属性（ベストスコアを得た分類器のインスタンス）を使ってテストデータを推測
print(f"acc: {gbm.best_estimator_.score(X_test, y_test)}")

acc: 0.8375

In [151]:
#実際の予測したいデータを予測
dummy_test = pd.get_dummies(test,drop_first=True)
pred = gbm.best_estimator_.predict(dummy_test)
sample[1] = pred

In [152]:
# dfをcsv出力　indexをTrueにしたら0からインデックスが降られる、headerはカラム名が一番上に追加される
sample.to_csv("submit12_LightGBM.csv", index = False, header=False)